<passwordPolicy>
  <id>-48b7eee8:17d32c6111b:-7fe4</id>
  <name>default</name>
  <className>org.geoserver.security.validation.PasswordValidatorImpl</className>
  <uppercaseRequired>false</uppercaseRequired>
  <lowercaseRequired>false</lowercaseRequired>
  <digitRequired>false</digitRequired>
  <minLength>0</minLength>
  <maxLength>-1</maxLength>
</passwordPolicy>